@media (min-width: 1280px) and (max-width: 1399.98px) {
  .header .header-title,
.header .logo-title {
    font-size: 2.4rem;
  }
  .header .sub-header-title {
    font-size: 1.3rem;
  }
  .header .sub-header-desc {
    font-size: 1rem;
    text-align: right !important;
  }
  .main .main-heading {
    font-size: 1.5rem;
  }
  .main .border-gradient .white-box .left-box h2 {
    font-size: 1.75rem;
  }
  .main .border-gradient .white-box .left-box h4 {
    font-size: 1.1rem;
  }
  .main .border-gradient .white-box .left-box p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .main .border-gradient .white-box h2.main-id {
    font-size: 3.5rem;
  }
  .main .border-gradient .white-box .right-box .main-high {
    font-size: 5.5rem;
  }
  .main .border-gradient .white-box .right-box h2 {
    font-size: 1.75rem;
  }
  .main .border-gradient .white-box .right-box h3 {
    font-size: 1.3rem;
  }
  .main .border-gradient .white-box .right-box p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .main .box-basis p.font-weight-extrabold {
    font-size: 1rem;
  }
}
@media (min-width: 1200px) and (max-width: 1279.98px) {
  .header .header-title,
.header .logo-title {
    font-size: 2rem;
  }
  .header .sub-header-title {
    font-size: 1rem;
  }
  .header .sub-header-desc {
    font-size: 0.8rem;
  }
  .main .main-heading {
    font-size: 1.4rem;
  }
  .main .border-gradient .white-box h2 {
    font-size: 1.75rem;
  }
  .main .border-gradient .white-box .left-box {
    padding: 20px;
  }
  .main .border-gradient .white-box .left-box h2 {
    font-size: 1.45rem;
  }
  .main .border-gradient .white-box .left-box p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .main .border-gradient .white-box h2.main-id {
    font-size: 2.3rem;
  }
  .main .border-gradient .white-box .right-box {
    padding: 20px;
  }
  .main .border-gradient .white-box .right-box .main-high {
    font-size: 5rem;
  }
  .main .border-gradient .white-box .right-box h3 {
    font-size: 1.3rem;
  }
  .main .border-gradient .white-box .right-box h2 {
    font-size: 1.45rem;
  }
  .main .border-gradient .white-box .right-box p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .main .white-box .left-box, .main .white-box .right-box {
    padding: 20px;
  }
  .main .padding-40.box-basis {
    padding: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .header .header-title,
.header .logo-title {
    font-size: 2rem;
  }
  .header .sub-header-title {
    font-size: 1rem;
  }
  .header .sub-header-desc {
    font-size: 0.8rem;
  }
  .main .main-heading {
    font-size: 1.4rem;
  }
  .main .border-gradient .white-box h2 {
    font-size: 1.75rem;
  }
  .main .border-gradient .white-box .left-box h2 {
    font-size: 1.45rem;
  }
  .main .border-gradient .white-box .left-box p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .main .border-gradient .white-box h2.main-id {
    font-size: 2.3rem;
  }
  .main .border-gradient .white-box .right-box .main-high {
    font-size: 5rem;
  }
  .main .border-gradient .white-box .right-box h3 {
    font-size: 1.3rem;
  }
  .main .border-gradient .white-box .right-box h2 {
    font-size: 1.45rem;
  }
  .main .border-gradient .white-box .right-box p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .header .header-title,
.header .logo-title {
    font-size: 2rem;
  }
  .header .sub-header-title {
    font-size: 1.25rem;
  }
  .header .sub-header-desc {
    font-size: 1rem;
    text-align: right !important;
  }
  .main .main-heading {
    font-size: 1.5rem;
  }
  .main .white-box .main-id {
    font-size: 2.5rem;
  }
  .main .white-box .left-box h2,
.main .white-box .right-box h2 {
    font-size: 1.5rem;
  }
  .main .white-box .left-box h4,
.main .white-box .right-box h4 {
    font-size: 1.1rem;
  }
  .main .white-box .left-box p,
.main .white-box .right-box p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .main .white-box .right-box .main-high {
    font-size: 5rem;
  }
  .main .white-box .right-box h3 {
    font-size: 1.14rem;
  }
  .main .white-box form label.form-check-label.font-size-1-125 {
    font-size: 1rem;
  }
  .main .white-box .box-basis h2 {
    font-size: 1.5rem;
  }
  .main .white-box .box-basis p.font-weight-extrabold,
.main .white-box .box-basis p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .main .white-box .box-basis .w-75 {
    width: 100% !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .header .header-title,
.header .logo-title {
    font-size: 2.5rem;
  }
  .header .sub-header-title {
    font-size: 1.5rem;
  }
  .header .sub-header-desc {
    font-size: 1rem;
  }
  .main .main-heading {
    font-size: 1.25rem;
  }
  .main .border-gradient .white-box h2 {
    font-size: 1.5rem;
  }
  .main .border-gradient .white-box .left-box h2 {
    font-size: 2rem;
  }
  .main .border-gradient .white-box .left-box p {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  .main .border-gradient .white-box h2.main-id {
    font-size: 3rem;
  }
  .main .border-gradient .white-box .right-box .main-high {
    font-size: 5rem;
  }
  .main .border-gradient .white-box .right-box h3 {
    font-size: 1.2rem;
  }
  .main .border-gradient .white-box .right-box h2 {
    font-size: 2rem;
  }
  .main .border-gradient .white-box .right-box p {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
}
@media (max-width: 767.98px) {
  header.header .header-title {
    padding: 20px 0;
    text-align: center;
  }
  header.header .border-left-4 {
    border-radius: 0;
    border-bottom: 0;
    border-right: 4px solid #8b90a5;
  }
  header.header .border-right-4 {
    border-bottom-left-radius: 20px;
    border-left: 4px solid #8b90a5;
  }
  .main .white-box .left-box {
    border-bottom-left-radius: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .main .white-box .right-box {
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .main .white-box .left-box h2,
.main .white-box .left-box h4 {
    text-align: center;
  }
  .main .white-box .right-box h2 {
    text-align: center;
  }
  .main .white-box .box-basis h2 {
    text-align: center;
  }
  .main .box-basis p.font-weight-extrabold {
    font-size: 0.9rem;
  }
  .main .box-basis .w-75.m-auto.text-center {
    width: 100% !important;
  }
}
@media (max-width: 575.98px) {
  .header .header-title,
.header .logo-title {
    font-size: 1.75rem;
  }
  .header .sub-header-title {
    font-size: 1.25rem;
    text-align: center;
  }
  .header .sub-header-desc {
    font-size: 0.8rem;
  }
  .main .main-heading {
    font-size: 1.25rem;
  }
  .main .border-gradient .white-box h2.mb-0.text-end.text-black.font-weight-bold.text-uppercase {
    font-size: 1.5rem;
    margin-right: 10px;
  }
  .main .white-box .main-id {
    font-size: 2rem;
  }
  .main .white-box .left-box {
    padding: 30px;
  }
  .main .white-box .left-box h2 {
    font-size: 1.5rem;
  }
  .main .white-box .left-box h4 {
    font-size: 1.25rem;
  }
  .main .white-box .left-box p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .main .white-box .right-box {
    padding: 30px;
  }
  .main .white-box .right-box .main-high {
    font-size: 5rem;
  }
  .main .white-box .right-box h2 {
    font-size: 1.5rem;
  }
  .main .white-box .right-box h3 {
    font-size: 1.25rem;
  }
  .main .white-box .right-box p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .main .white-box form label.font-size-1-125 {
    font-size: 1rem;
  }
  .main .box-basis h2 {
    font-size: 1.5rem;
  }
  .main .box-basis p.font-weight-extrabold,
.main .box-basis p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .main .padding-40.box-basis {
    padding: 30px;
  }
}/*# sourceMappingURL=responsive.css.map */